.additional-selection {
  padding: 0;
  border: none;

  @media (max-width: 767px) {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    margin-bottom: 5px;
  }
}

.customer-form.additional-selection {
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.additional-selection__list {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 19px;
  }
}

.additional-selection__item {
  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 221px;
  }
}

.additional-selection__name {
  font-size: 16px;
  font-weight: 18px;
  color: @secondary-text-color;
  text-transform: uppercase;
  padding-left: 47px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    font-weight: 30px;
    padding-left: 60px;
  }
}

.additional-selection__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 104px;
  }
}

.additional-selection__label {
  position: relative;
}

.additional-selection__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid @border-color-input;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    top: -5px;
  }
}

.additional-selection__input[type="checkbox"]:checked + .additional-selection__icon--checkbox::before {
  content: "";
  position: absolute;
  left: 11px;
  top: 12px;
  width: 10px;
  height: 17px;
  border-right: 1px solid #68b738;
  border-bottom: 1px solid #68b738;
  transform: translateY(-50%) rotate(45deg);

  @media (min-width: @tablet-width) {
    left: 13px;
    top: 10px;
    width: 15px;
    height: 23px;
  }
}

.additional-selection__item:nth-child(even) {
  @media (min-width: @tablet-width) {
    padding-left: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.additional-selection__label:hover::before {
  border: 1px solid rgba(186, 186, 186, 1);
}

.additional-selection__label:active {
  opacity: 0.3;
}

.additional-selection__label:disabled {
  opacity: 0.3;
}
