.additional-selection {
  padding: 0;
  margin: 0;
  border: none;
}

.additional-selection__list {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.additional-selection__item {
  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 25%;
  }
}

.additional-selection__name {
  font-size: 16px;
  font-weight: 18px;
  color: @secondary-text-color;
  text-transform: uppercase;
  padding-left: 45px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    font-weight: 30px;
    padding-left: 60px;
  }
}

.additional-selection__item:not(:last-child) {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 42px;
  }
}

.additional-selection__label {
  position: relative;
}

.additional-selection__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid @border-color-input;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}
