.card {
  padding-bottom: 25px;
  padding-top: 19px;
}

.card__link {
  font-size: 16px;
  color: @special-dark-grey;
  text-transform: uppercase;
}

.card__picture-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  // margin-bottom: 22px;
}


.card__product-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 22px;
}

.card__title {
  margin: 0;
  max-width: 76px;
  margin-bottom: 14px;
}


.card__key {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 16px;
  padding: 0;
}

.card__value {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 16px;
  padding: 0;
}

.card__button {
  font-size: 16px;
  padding: 10px 0 10px;
}
