.catalog-cards__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.catalog-cards__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

