.contacts__invitation {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
}

.contacts__title {
  font-size: 16px;
  color: @tertiary-text-color;
  text-transform: uppercase;
  margin: 0;
}

.contacts__address {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  margin: 0;
}

.contacts__invitation--v2 {
  background-color: @basic-background-color;
}
