.copyright {
  min-height: 34px;
}

.copyright__link {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @secondary-text-color;

  @media (min-width: @tablet-width) {
    margin-right: 24px;
  }
}
