.customer-form {
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-bottom: 66px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 50px;
  }
}

.customer-form__title {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @secondary-text-color;
  background-color: @secondary-background-color;
  margin: 0;
  margin-bottom: 32px;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 75px;
    margin-left: -39px;
    padding-left: 39px;
    padding-right: 42px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.customer-form__title::after {
  content: "";
  position: absolute;
  top: 16px;
  height: 2px;
  width: 100vw;
  background-color: @bg-color-gift;
  z-index: -1;

  @media (min-width: @tablet-width) {
    top: 21px;
    width: 8888px;
    left: -4444px;
  }
}

.customer-form__title--contacts {
  max-width: 222px;

  @media (min-width: @tablet-width) {
    max-width: 100%;
  }
}

.customer-form__title--comments {
  @media (max-width: 767px) {
    margin-bottom: 38px;
  }
}

.customer-form__title--additional {
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 66px;
  }
}
