.customer-comments {
  border: none;
  padding: 0;

  @media (max-width: 767px) {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    margin-bottom: 23px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 66px;
  }
}

.customer-form.customer-comments {
  @media (min-width: @desktop-width) {
    margin-bottom: 66px;
  }
}

.customer-comments__comment {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  min-height: 150px;
  padding: 9px 12px 10px 15px;
  border: 1px solid @border-color-main;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 19px 10px;
    min-height: 174px;
  }
}
