.customer-contacts {
  border: none;

  @media (max-width: 767px) {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    margin-bottom: 9px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 66px;
  }
}

.customer-contacts__list {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.customer-contacts__item {
  @media (min-width: @desktop-width) {
    width: 50%;
  }
}

.customer-contacts__item:not(:last-child) {
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-bottom: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 78px;
  }
}

.customer-contacts__label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.customer-contacts__name {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 12px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 20px;
  }
}

.customer-contacts__name--phone {
  @media (min-width: @tablet-width) {
    margin-right: 13px;
  }
}

.customer-contacts__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 13px 13px 13px;
  border: 1px solid @border-color-main;
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 21px;
  }
}

.customer-contacts__input:hover {
  border: 1px solid rgb(205, 205, 205);
}

.customer-contacts__input:focus {
  border: 2px solid #444444;
  outline: 0;
}

.customer-contacts__input:invalid {
  box-shadow: none;
  border: 2px solid rgba(255, 130, 130, 1);
}

input:focus + .customer-contacts__icon {
  color: rgb(104, 183, 56);
}

.customer-contacts__input:invalid + .customer-contacts__icon {
  color: rgba(255, 130, 130, 1);
}

.customer-contacts__icon {
  position: absolute;
  right: 14px;

  @media (min-width: @desktop-width) {
    right: 18px;
  }
}
