.example {
  @media (min-width: @tablet-width) {
    border-top: 1px solid rgba(230, 230, 230, 1);
  }

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.example__wrapper {
  background-color: @bg-cat-color;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    background-color: @secondary-background-color;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    background-color: @background-letters-color;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.example__numbers-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 250px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    padding: 0;
  }
}

.example__title {
  width: 320px;
  font-weight: 400;
  font-size: 36px;
  color: @secondary-text-color;
  margin: 0 auto;
  padding: 35px 20px 51px;

  @media (min-width: @tablet-width) {
    width: 768px;
    font-size: 60px;
    line-height: 60px;
    padding: 43px 30px 65px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 0 110px;
    margin-bottom: 75px;
  }
}

.example__title-wrapper {
  background-color: @bg-cat-color;

  @media (min-width: @tablet-width) {
    background-color: @secondary-background-color;
  }
}

.example__description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
    padding: 0 30px;
    width: 741px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 436px;
    margin-bottom: 68px;
  }
}

.example__content-wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 71px 0 51px 110px;
    background-color: @background-letters-color;
  }
}
