.example-costs__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.example-costs__description,
.example-costs__value {
  font-size: 14px;
  color: @black;
  text-transform: uppercase;
  margin: 0;
}

