.example-slider {
  position: relative;
  width: 280px;
  height: 256px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    top: -10px;
    width: 560px;
    height: 456px;
  }

  @media (min-width: @desktop-width) {
    top: -10px;
    height: auto;
  }
}

.example-slider::after {
  @media (min-width: @tablet-width) {
    content: "";
    bottom: -15px;
    left: -103px;
    position: absolute;
    height: 463px;
    width: 768px;
    background-color: @bg-cat-color;
  }

  @media (min-width: @desktop-width) {
    background-color: @background-letters-color;
    left: -168px;
    bottom: -10px;
    width: 895px;
  }
}

.example-slider__pictures {
  position: relative;
  top: 0;
  left: 0;

  @media (min-width: @desktop-width) {
    top: 17px;
    left: 58px;
  }
}

.example-slider__before-cat {
  position: absolute;
  clip: rect(auto, 141px, auto, auto);
  z-index: 2;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: auto;
    top: -140px;
    clip: rect(auto, 281px, auto, auto);
  }
}

.example-slider__after-cat {
  position: absolute;
  clip: rect(auto, auto, auto, 141px);
  left: 0;
  z-index: 2;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: auto;
    top: -140px;
    clip: rect(auto, auto, auto, 279px);
  }
}

.example-slider__controls {
  position: relative;
  top: 100px;
  left: 106px;
  width: 40px;
  height: 40px;
  z-index: 3;
  background-color: transparent;
  border-radius: 50%;
  border: none;

  @media (min-width: @tablet-width) {
    left: 260px;
  }

  @media (min-width: @desktop-width) {
    left: 318px;
    top: 116px;
  }
}

.example-slider__button {
  position: absolute;
  top: 6px;
  left: 14px;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    top: -4px;
    left: 1px;
  }
}

.example-slider__controls::after {
  content: "";
  position: absolute;
  top: -101px;
  left: 32px;
  width: 4px;
  height: 257px;
  background-color: #666666;
  z-index: -1;
  border-radius: 2px;

  @media (min-width: @tablet-width) {
    top: -239px;
    left: 18px;
    height: 512px;
  }
}
