.example {
  @media (min-width: @tablet-width) {
    border-top: 1px solid rgba(230, 230, 230, 1);
  }

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.example__wrapper {
  background-color: @basic-background-color;
  padding-top: 43px;
  padding-bottom: 40px;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    min-height: 1080px;
    margin: 0 auto;
    background-color: @secondary-background-color;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding-top: 0;
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    min-height: 0;
  }
}

.example__numbers-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 250px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    padding: 0;
  }
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  color: @secondary-text-color;
  margin-top: 0;
  margin-bottom: 52px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
    padding-left: 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    width: 100%;
    margin-bottom: 75px;
  }
}

.example__description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
    padding: 0 30px;
    width: 741px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 436px;
    margin-bottom: 68px;
  }
}

.example__desktop-screen-wrapper {
  @media (min-width: @desktop-width) {
    padding: 56px 0 54px 110px;
    background-color: @background-letters-color;
  }
}
