.form-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @black;
  margin: 0;
  margin-bottom: 37px;
}


.font-title__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black;
  margin: 0;
  margin-bottom: 29px;
}
