*,
*::before,
*::after {
  box-sizing: border-box;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  display: block;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.google-map {
  width: 320px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    width: 1440px;
    margin: 0 auto;
  }
}
