.main-hero {
  position: relative;
  padding-top: 27px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    min-height: 870px;
    padding-top: 62px;
  }

  @media (min-width: @desktop-width) {
    min-height: 661px;
    padding-left: 190px;
    padding-top: 109px;
    width: 1440px;
    margin: 0 auto;
  }
}

.main-hero__title {
  display: block;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: @special-text-color-v3;

  @media (min-width: @tablet-width) {
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    color: @secondary-text-color;
    width: 430px;
    margin-bottom: 41px;
    padding-left: 86px;
    min-width: 507px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.main-hero__text {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  color: @special-text-color-v3;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    text-align: start;
    font-size: 20px;
    line-height: 20px;
    color: @secondary-text-color;
    margin-bottom: 49px;
    padding-left: 90px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.main-hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  padding: 8px 44px;
  min-height: 40px;
  color: @special-text-color-v3;

  @media (min-width: @tablet-width) {
    width: 244px;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 26px;
    margin-left: 90px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.main-hero__product {
  display: block;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 265px;
    right: 30px;
    z-index: -1;
    width: 709px;
  }

  @media (min-width: @desktop-width) {
    top: 27px;
    right: 328px;
    width: 552px;
  }
}
