.main-footer__wrapper {
  padding-top: 39px;
}

.main-footer {
  background-color: @basic-background-color;
}

.main-footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 52px;
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
}
