.main-footer__wrapper {
padding-top: 39px;
}

.main-footer {
background-color: #F2F2F2;
}

.main-footer__logo {
display: flex;
justify-content: center;
margin-bottom: 52px;
}

.main-footer__copyright {
  padding-top: 22px;
  padding-bottom: 22px;
}
