.social__list {
  display: flex;
  justify-content: center;
  padding-bottom: 19px;
  border-bottom: 1px solid rgba(217, 217, 217, 1);

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 9px;
    margin-left: 25px;
    border-bottom: none;
  }

  @media (min-width: @tablet-width) {
    padding-top: 8px;
    margin-left: 29px;
  }
}

.social__item {
  cursor: pointer;
  color: #444444;
}

.social__item:hover svg {
  color: rgba(104, 183, 56, 1);
}

.social__item:active svg {
  color: rgba(104, 183, 56, 1);
  opacity: 0.3;
}

.social__item:not(:last-child) {
  margin-right: 24px;
}
